annotated-types==0.7.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
curl_cffi==0.15.0
executing==2.2.1
garminconnect @ git+https://github.com/cyberjunky/python-garminconnect.git@b1dfb0d7485116eaafcc878e96994fad40831d2a
googleapis-common-protos==1.74.0
idna==3.11
importlib_metadata==8.7.1
logfire==4.31.0
markdown-it-py==4.0.0
mdurl==0.1.2
oauthlib==3.3.1
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-instrumentation==0.60b1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
packaging==26.0
protobuf==6.33.6
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
Pygments==2.20.0
python-dotenv==1.2.2
requests==2.33.1
requests-oauthlib==2.0.0
rich==14.3.3
typing-inspection==0.4.2
typing_extensions==4.15.0
ua-generator==2.0.24
urllib3==2.6.3
wrapt==1.17.3
zipp==3.23.0
